@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: #EFEEEE;
    --foreground: #ffffff;
    --link: #00a2ff;
    --primary: #FFF100;
    --radius: 16px;
    --small-font-size: 8px;
    --medium-font-size: 12px;
    --large-font-size: 16px;
    --extra-large-font-size: 20px

  }
  .dark {
   
  }
}
